SmartHome.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SmartHome.xcodeproj/project.xcworkspace/xcuserdata/jinma.xcuserdatad/UserInterfaceState.xcuserstate
SmartHome.xcodeproj/xcuserdata/jinma.xcuserdatad/xcschemes/xcschememanagement.plist
